<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Todo-list app</title>
        <link rel="stylesheet" href="css/style.css" type="text/css">
    </head>
    <body>
        <div class="box" id="heading">
            <h1> <%= title %> </h1>
        </div>
        
         <div class="box">
            <% for(var i=0; i<todoItems.length ; i++) { %>
                <form method="post" action="/delete">
                    <div class="item">
                        <input type="checkbox" onchange="this.form.submit()" name="deleteItem" value="<%= todoItems[i]._id %>">
                        <p> <%= todoItems[i].name %> </p>

                        <!-- To specify from which list the item must be deleted-->
                        <input type="hidden"  name="listName" value="<%= title %>">
                    </div>
                </form>
            <% } %>

            <form action="/" method="POST" class="item">
                <input type="text" name="item" placeholder="Add item" autocomplete="off">
                <button type="submit" name="button" value="<%= title %>">+</button>
            </form>
         </div> 
        
            
        
        
    </body>
</html>